@import "../../assets/styles/colors.scss";

.wrapper {
    width: 90%;
    min-height: 100%;
    background-color: #fff;
    padding: 50px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .change-floor {
        position: absolute;
        top: 50px;
        right: 1px;

        li {
            list-style-type: none;
            padding: 10px;
            border: 2px solid $main;
            border-radius: 5px;
            color: $main;
            transition: 0.3s;
            cursor: pointer;
            font-weight: 700;

            &.active,
            &:hover {
                background-color: $main;
                color: white;
                transition: 0.3s;
            }
        }
    }

    .map__wrapper {
        position: relative;

        opacity: 1;

        &.hide {
            opacity: 0;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .flat {
                fill: none;

                cursor: pointer;
                pointer-events: all;
                transition: 0.3s;

                &:hover {
                    stroke: $main;
                    stroke-width: 5px;
                    transition: 0.3s;
                }

                &.active {
                    fill: rgba(153, 102, 204, 0.3);

                    transition: 0.3s;
                    outline: none;
                }
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .selected-flats {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;

        background-color: gray;
        opacity: 0.9;
        display: flex;
        align-items: center;

        p {
            font-size: 20px;
            color: white;
            margin-bottom: 5px;
        }

        ul {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            max-width: 73%;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                display: inline-block;
                list-style-type: none;
                padding: 10px;
                background-color: $main;
                border-radius: 15px;
                color: white;

                margin-left: 10px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: white;
                    color: $main;
                    transition: 0.3s;
                }
            }
        }
    }

    @media (max-width: 1400px) {
    }
}
